.search-box {
  max-width: 660px;
  width: 100%;
  margin: 0 auto 20px;
  background: white;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(102,102,102,0.5);
  -moz-box-shadow: 1px 1px 5px 0px rgba(102,102,102,0.5);
  box-shadow: 1px 1px 5px 0px rgba(102,102,102,0.5);
  padding: 30px 60px;
}

.search-modal .form-group,
.search-box .form-group {
  margin-bottom: 15px;
}

.date-container > .form-group {
  width: 45%;
}

.search-modal h2,
.search-box h2 {
  margin-bottom: 25px;
  color: #132054;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}


.search-modal legend span,
.search-box legend span {
  display: block;
  margin-bottom: 15px;
  margin-top: 10px;
  color: #132054;
  font-size: 16px;
  font-weight: bold;
}


.search-modal label,
.search-box label {
  display: block;
  margin-bottom: 10px;
  color: #132054;
  font-size: 14px;
  font-weight: bold;
}


.search-modal input,
.search-box input {
  height: 45px;
  margin-bottom: 5px;
  border: 2px solid #132054;
  border-radius: 5px;
  padding: 0 15px;
}

.search-modal .form-group-year input,
.search-box .form-group-year input {
  width: 90px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button,
.search-box input[type="number"] {
  appearance: textfield;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}

.search-modal input[name="search"],
.search-box input[name="search"] {
  width: 100%;
  background: url('/images/search.svg') calc(100% - 15px) center no-repeat;
}

.search-modal button[type="submit"],
.search-box button[type="submit"] {
  width: 100%;
  height: 45px;
  margin: 0 auto 15px;
  background: #132054;
  border: 0;
  border-radius: 5px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.search-box .categories {
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 0;
}
.react-datepicker-wrapper {
  width: 49%;
}

.react-datepicker-wrapper input {
  width: 100%;
  background: url('/images/calendar.svg') calc(100% - 15px) center no-repeat;
  cursor: pointer;
}

.search-back {
  font-size: 13px;
}

.search-back svg {
  margin-right: 5px;
}

.search-modal {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 0;
  padding: 30px 15px;
  transition: transform .5s;
  transform: translate(100%);
}

.search-modal.active {
  transform: translate(0);
}

.search-close {
  position: absolute;
  top: 10px;
  right: 5px;
}

.search-close svg {
  height: 35px;
  width: 35px;
  fill: #132054;
}

@media (max-width: 734px) {
  .search-box {
    width: 100%;
    border-radius: 0;
    padding: 30px 5%;
  }
}